$text-main-c: #2C2C2C;
$text-secondary-c: #919499;
$link-main-c: #006688;
$link-hover: lighten($link-main-c, 20%);
$button-main-c: #00A76D;
$button-hover-c: #ffffff;
$border-main-c: #ee8800;
$main-c: #2E60C0;
$second-c: #00A76D;

$font-main: "MuseoSansCyrl", "Arial", sans-serif;
$font-second: "PTMono", "Arial", sans-serif;
