$text-main-c: #000000;
$text-secondary-c: #333333;
$link-main-c: #006688;
$link-hover: lighten($link-main-c, 20%);
$button-main-c: #ee8800;
$button-hover-c: #ffffff;
$border-main-c: #ee8800;

$font-main: "MuseoSansCyrl", "Arial", sans-serif;
$font-second: "PTMono", "Arial", sans-serif;
