.button {
    @include flex-block;
    width: 250px;
    height: 60px;

    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;

    background-color: $button-main-c;
    border: 2px solid $border-main-c;
    border-radius: 10px;

    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: 0.5s;

    &:hover {
        color: $button-main-c;
        background-color: $button-hover-c;
    }

    &:active {
        opacity: 0.5;
        transition: 0.1s;
    }

    &:focus {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    }
}

.button--modal-open {
    margin-bottom: 30px;
}
