.footer {
    flex-shrink: 0;
    padding-bottom: 32px;

    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 56px;

        @include before_1024 {
            flex-wrap: wrap;
        }

        @include before__768 {
            flex-direction: column;
            margin-bottom: 20px;
        }

        &:last-of-type {
            margin-bottom: 88px;
        }

        @include before__768 {
            margin-bottom: 30px;
        }
    }

    &__el {
        width: 100%;
        max-width: 256px;
        padding-right: 30px;

        @include before__768 {
            width: 100%;
            max-width: none;
            margin-bottom: 24px;
        }

        &:first-child {

            @include before_1024 {
                margin-bottom: 30px;
            }

            @include before__768 {
                margin-bottom: 0;
            }
        }

        &--desktop {

            @include before__768 {
                display: none;
            }
        }

        &--tab {

            @include before__768 {
                margin-bottom: 0;
                padding: 16px 20px;
                border-bottom: 1px solid rgba(152, 179, 229, 0.25);
            }
        }

        .icon-logo {
            max-width: 100%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: normal;
        margin-bottom: 12px;
        font-size: 32px;
        line-height: 48px;
        transition: 0.5s;

        @include before__768 {
            margin-bottom: 0;
            font-size: 20px;
            line-height: 30px;
            color: $text-main-c;
        }

        &--active {
            margin-bottom: 16px;
        }
    }

    &__list {

        &--tab {

            @include before__768 {
                display: none;
            }
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        font-family: $font-main;
        font-size: 16px;
        line-height: 24px;
        color: $text-main-c;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: 0.5s;

        &:hover {
            border-bottom: 1px solid $text-main-c;
        }
    }

    &__arrow {
        display: none;
        transition: 0.5s;

        @include before__768 {
            display: block;
        }

        &--active {
            transform: rotate(180deg);
        }
    }

    &__note-text {
        max-width: 1000px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #919499;
    }

    &__note-link {
        font-family: $font-main;
        font-size: 12px;
        line-height: 16px;
        color: $second-c;
    }
}
