.header {
    padding: 35px 0 30px;
    border-bottom: 1px solid #DFE5F2;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 55px;
        }
    }

    &__link {
        display: block;
        line-height: 0;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
