.header {
    padding: 35px 0 30px;
    border-bottom: 1px solid #DFE5F2;
    transition: 0.5s;

    @include before__768 {
        padding: 30px 0;
    }

    &--active {
        background-color: #ffffff;
        border-bottom: 1px solid $main-c;

        .header__logo {
            fill: $main-c;
        }

        .burger__strip,
        .burger__strip:before,
        .burger__strip:after {
            background-color: $main-c;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        fill: #DFE5F2;
        transition: 0.5s;

        @include before__768 {
            width: 80px;
            height: auto;
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @include before__768 {
            display: none;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 55px;
        }
    }

    &__link {
        display: block;
        line-height: 0;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
