.option {
    margin-bottom: 120px;

    @include before__768 {
        margin-bottom: 90px;
    }

    &__list {
        margin-bottom: 48px;
    }

    &__item {
        display: flex;

        @include before__768 {
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid #F7F8FA;
        }

        &:not(:last-child) {
            margin-bottom: 40px;

            @include before__768 {
                margin-bottom: 20px;
            }
        }
    }

    &__name {
        width: 50%;
        padding-right: 20px;

        @include before__768 {
            width: 100%;
            margin-bottom: 8px;
        }
    }

    &__name-text {
        font-weight: 600;
        max-width: 430px;
        font-size: 20px;
        line-height: 30px;

        @include before_1024 {
            font-size: 16px;
            line-height: 20px;
        }

        @include before__768 {
            font-size: 14px;
            line-height: 20px;
            max-width: none;
        }
    }

    &__name-note {
        font-size: 14px;
        line-height: 21px;
        color: $main-c;
    }

    &__description {
        width: 50%;

        @include before__768 {
            width: 100%;
        }
    }

    &__description-text {
        max-width: 650px;
        font-size: 16px;
        line-height: 24px;

        @include before_1024 {
            font-size: 14px;
            line-height: 18px;
        }

        @include before__768 {
            font-weight: 500;
            max-width: none;
        }
    }
}
