.option {
    margin-bottom: 120px;

    &__list {
        margin-bottom: 48px;
    }

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__name {
        width: 50%;
        padding-right: 20px;
    }

    &__name-text {
        font-weight: 600;
        max-width: 430px;
        font-size: 20px;
        line-height: 30px;

        @include before_1024 {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__name-note {
        font-size: 14px;
        line-height: 21px;
        color: $main-c;
    }

    &__description {
        width: 50%;
    }

    &__description-text {
        max-width: 650px;
        font-size: 16px;
        line-height: 24px;

        @include before_1024 {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
