.risks {
    margin-bottom: 120px;

    @include before__768 {
        margin-bottom: 80px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -22px;
    }

    &__item {
        width: 33.25%;
        margin-bottom: 44px;
        padding: 0 22px;

        @include before_1366 {
            width: 50%;
        }

        @include before_1024 {
            width: 100%;
        }

        &--all {
            width: 100%;
        }

        &:nth-child(even) {

            .risks__info {

                @include before_1366 {
                    left: auto;
                    right: 0;
                }

                @include before_1024 {
                    left: 0;
                    right: auto;
                }
            }
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 365px;
        height: 100%;
        padding: 32px 32px 44px;
        background-color: #F7F8FA;
        border-radius: 40px;

        @include before__768 {
            min-height: 240px;
            padding: 24px;
        }

        &--all {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            min-height: 0;
            height: auto;

            @include before__768 {
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                min-height: 240px;
            }

            .risks__circle {
                margin-right: 40px;
            }

            .risks__text {
                max-width: none;
            }
        }
    }

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 140px;
        height: 140px;
        background-color: #ffffff;
        border-radius: 50%;

        @include before__768 {
            width: 80px;
            height: 80px;
        }
    }

    &__icon {

        @include before__768 {
            width: 36px;
            height: auto;
        }
    }

    &__plus-icon {
        width: 40px;
        height: auto;
    }

    &__minus-icon {
        width: 40px;
        height: auto;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
        color: #00A76D;
    }

    &__text {
        max-width: 270px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        @include before__768 {
            max-width: none;
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__button {
        position: absolute;
        top: 34px;
        right: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include before__768 {
            top: 20px;
            right: 20px;
        }
    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(200% + 44px);
        min-height: 100%;
        padding: 32px 32px 16px;
        background-color: $second-c;
        border-radius: 40px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        //overflow-y: auto;
        transition: 0.5s;

        @include before_1024 {
            width: 100%;
        }

        @include before__768 {
            padding: 20px;
        }

        &--active {
            opacity: 1;
            visibility: visible;
        }

        &--left {
            left: auto;
            right: 0;

            @include before_1366 {
                left: 0;
                right: auto;
            }
        }

        &--top {
            top: auto;
            bottom: 0;
            width: 100%;
            height: auto;
        }
    }

    &__info-top {
        margin-bottom: 16px;
        padding-bottom: 28px;
        border-bottom: 1px solid #DFE5F2;
    }

    &__info-title {
        max-width: 320px;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;

        &--up {
            margin-bottom: 8px;
            font-size: 20px;
        }

        &--long {
            max-width: 880px;
        }

        @include before__768 {
            padding-right: 45px;
        }
    }

    &__info-subtitle {
        font-weight: bold;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
    }

    &__info-list {
        margin-bottom: 12px;
    }

    &__info-item {
        position: relative;
        padding-left: 10px;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 5px;
            height: 5px;
            background-color: #ffffff;
            border-radius: 50%;
        }
    }

    &__info-text {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: #ffffff;

        &--zero {
            margin-bottom: 0;
        }
    }

    &__info-flex {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px 12px;

        @include before_1024 {
            flex-wrap: wrap;
        }

        @include before__768 {
            flex-direction: column;
        }
    }

    &__info-el {
        width: 33.25%;
        padding: 0 15px;

        @include before_1024 {
            width: 50%;
            margin-bottom: 20px;
        }

        @include before__768 {
            width: 100%;
        }
    }

    &__info-row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__info-field {
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        color: #ffffff;

        &--first {
            margin-right: 24px;
        }
    }

    &__info-note {
        margin-bottom: 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        color: #ffffff;
    }
}
