//--------------------- Шаблонные файлы ---------------------
@import "template/normalise";
@import "fonts";
@import "template/variables";
@import "template/reset";
@import "template/scaffolding";
@import "template/mixin";
@import "vendor/slick";
//--------------------- Элементы используемые в других крупных блоках ---------------------
@import "wrapper";
@import "title";
@import "button";
//--------------------- Крупные блочные элементы ---------------------
@import "header";
@import "main";
@import "footer";
