.title {
    margin-bottom: 65px;
    font-size: 56px;
    line-height: 73px;
    font-weight: bold;
    color: $text-main-c;

    @include before_1024 {
        font-size: 46px;
        line-height: 70px;
    }

    @include before__768 {
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 31px;
    }
}
