.wrapper {
    max-width: 1460px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;

    &--banner {
        max-width: 1840px;
        padding: 0 100px;
    }

    &--full-height {
        height: 100%;
    }
}
